body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #2980b9;
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-decoration: underline;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #000203;
    font-size: 1.2rem;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

button:hover {
    background-color: #2980b9;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    color: #e74c3c;
}


@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}